.personal__navbar {
    list-style-type: none;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 0 39px 4px rgba(0, 0, 0, 0.1);
}

.personal__navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 90px;
}

.personal__navbar-list li {
    color: #323232;
    font-family: "Helvetica Neue Cyr - Roman";
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    /* Text style for "Э, кспресс" */
    letter-spacing: 0.34px;
    transition: .3s ease-in-out;
}

.personal__navbar-list li:after {
    content: "";
    display: block;
    position: relative;
    width: 0%;
    height: 3px;
    background-color: #4392e9;
    border-radius: 40px;
    transition: .3s ease;
    top: 36px;
    margin: 0 auto;
}

.personal__navbar-list li:hover {
    cursor: pointer;
    color: #4392e9;
}

.personal__navbar-list li:hover:after {
    width: 100%;
}

.personal__info {
    margin-top: 70px;
}

ul .active-item {
    color: #4392e9
}

ul .active-item::after {
    width: 100%;
}

.personal__info-input {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 20px;
}

.personal__info-title {
    color: #323232;
    font-family: "Helvetica Neue Cyr";
    font-size: 17px;
    font-weight: 700;
    line-height: 29.26px;
    padding-left: 35px;
    letter-spacing: 0.34px;
}

.ps {
    opacity: 0.5;
    color: #323232;
    font-family: "Helvetica Neue Cyr - Roman";
    font-size: 15px;
    font-weight: 400;
    line-height: 29.26px;
    letter-spacing: 0.3px;
    margin-bottom: 30px;
    margin-left: 35px;
}

.personal__info-submit {
    width: 255px;
}

.hidden-modal {
    display: none !important;
}

.active-modal {
    display: flex !important;
}

.user-name,
.user-logout {
    font-family: "Helvetica Neue Cyr - Roman";
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.34px;
}

.user-name {
    color: #4392e9 !important;
    margin-right: 30px;
}

.user-name:before {
    content: "";
    width: 23px;
    height: 23px;
    display: inline-block;
    margin-right: 10px;
    background-image: url(../images/user.png);
    background-repeat: no-repeat;
}

.user-logout:hover {
    color: #323232;
}

.user-logout::before {
    content: "";
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-right: 10px;
    background-image: url(../images/logout.png);
    background-repeat: no-repeat;
}

.express-modal {
    margin-top: 70px;
}

.personal__tutorial-courselist {
    box-shadow: 0 0 39px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px 0;
    height: 100%;
}

ul li ul li {
    padding: 0px 10px 0px 40px;
}

ul {
    list-style-type: none;
}

li ul {
    padding: 0;
}

.course-title {
    font-family: "Helvetica Neue Cyr";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 24px;
    padding-left: 40px;
}

.category-list {
    padding: 0;
}

.lessons-list {
    margin-bottom: 20px;
}

.category-item {
    color: #323232;
    font-family: "Helvetica Neue Cyr - Roman";
    font-size: 20px;
    font-weight: 600;
}

.lessons-item {
    font-size: 17px;
    margin-bottom: -6px;
    letter-spacing: 0.34px;
    line-height: 30px;
    transition: .3s ease;
}

.active-list {
    background-color: #4392e9;
    color: #fff;
    z-index: 3;
}

.lessons-item:not(.active-list):hover {
    color: #4392e9;
}

.bold {
    font-weight: 600;
}

ul span {
    padding-left: 40px;
}

.part-title {
    color: #323232;
    font-family: "Helvetica Neue Cyr";
    font-size: 24px;
    font-weight: 900;
    line-height: 45.44px;
    margin-bottom: 10px;
    margin-top: 0;
    letter-spacing: 0.4px;
}

.part-directory {
    opacity: 0.5;
    color: #323232;
    font-family: "Helvetica Neue Cyr - Roman";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
}

.course-paragraph {
    margin: 0;
    padding: 0;
    color: #323232;
    font-family: "Helvetica Neue Cyr - Roman";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.16px;
}

.course-paragraph img {
    max-width: 100%;
    padding: 20px 0;
    display: block;
}

.text {
    margin: 40px 0 0 0;
    padding: 0;
}

.part,
block {
    display: none
}

.active-part,
.active-block {
    display: block;
}

.sticky {
    position: fixed;
    top: 0;
    right: 222px;
    z-index: 10;
    width: 380px;
}

.signals-modal a {
    color: #4392e9;
    text-decoration: underline;
    display: block;
}

.wrapper {
    margin-bottom: 60px;
}

.wrapper a,
.wrapper span {
    margin: 0;
}

.blog span {
    font-size: 11px;
}

.blog .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px auto 0;
    width: 61%;
}

.blog-img {
    width: 100%;
    object-fit: contain;
}

.blog-post {
    max-width: 23%;
    margin-bottom: 40px;
    margin-top: 0;
    box-shadow: 0 0 44px 2px rgba(0, 0, 0, 0.13);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-post button {
    width: 180px;
    height: 50px;
}

.blog-heading {
    font-size: 16px;
    font-weight: 900;
}

.date::before {
    top: 5px;
    margin-right: 3px;
}

.views::before {
    top: 1px;
    margin-right: 3px;
}

.blog {
    background-color: transparent;
}

.date {
    color: #6f6f6f;
    font-family: "Helvetica Neue Cyr - Roman";
    font-size: 12px;
    font-weight: 400;
    line-height: 29.26px;
    letter-spacing: 0.12px;
}

.signals-modal,
.knowledge-modal {
    margin-top: 70px;
}

.signal {
    padding: 20px 10px;
    box-shadow: 0 0 39px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 23%;
    margin-bottom: 30px;
}

.signal .date,
.signal .signal-type {
    margin-bottom: 10px;
    display: block;
    text-align: center;
}

.signal .date::before {
    position: absolute;
    left: 67px;
    top: 24px;
}

.signal-type {
    font-size: 20px;
    color: #4392e9;
    font-weight: 600;
    font-family: "Helvetica Neue Cyr"
}

.signal button {
    width: 200px;
    height: 50px;
    display: block;
    margin: 0 auto 10px;
}

#signals-before,
#chat-before {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: block;
    background-color: #efe513;
    position: absolute;
    font-size: 13px;
    right: -20px;
    top: -20px;
}

.chatie-modal .heading {
    color: #323232;
    font-family: "Helvetica Neue Cyr";
    font-size: 24px;
    font-weight: 900;
    line-height: 45.44px;
    letter-spacing: 0.4px;
    margin: 70px auto 20px;
}

.chat-description {
    opacity: 0.5;
    color: #323232;
    font-family: "Helvetica Neue Cyr - Roman";
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.16px;
    margin: 0 auto 50px;
}

.message {
    margin-bottom: 60px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10PX;
    padding: 25px 30px;
    position: relative;
}

.message .name {}

.message .name,
.message .date {
    display: inline-block;
    margin: 0;
}

.message .name {
    color: #4598f2;
    font-family: "Helvetica Neue Cyr";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.32px;
}

.message .date::before {
    position: relative;
    float: none;
}

.message-text {
    color: #323232;
    font-family: "Helvetica Neue Cyr - Roman";
    font-size: 14px;
    font-weight: 400;
    line-height: 29.26px;
    letter-spacing: 0.14px;
    margin: 10px 0 0;
}

.upload-doc {
    display: block;
    position: absolute;
    right: 0;
    bottom: -35px;
    color: #4598f2 !important;
    font-family: "Helvetica Neue Cyr - Roman";
    font-size: 12px;
    font-weight: 400;
    line-height: 29.26px;
    letter-spacing: 0.12px;
}

.send textarea {
    box-shadow: 0 0 39px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 0px;
}

label {
    opacity: 0.5;
    color: #323232;
    font-family: "Helvetica Neue Cyr - Roman";
    font-size: 14px;
    font-weight: 400;
    line-height: 18.26px;
    letter-spacing: 0.14px;
    height: 0;
    margin-left: 120px;
}

label .file {
    margin: 0;
}

#p21 {
    line-height: 25px;
    margin: 0;
}

.next {
    width: 280px;
    height: 70px;
    border-radius: 30px;
    background-color: #ece213;
    transform: none !important
}

label::before {
    content: "";
    display: block;
    background-image: url(../images/update.png);
    width: 24px;
    height: 18px;
    margin-right: 15px;
}

.course-paragraph + h1{
    margin-top:70px;
}

.modal-img img{
    width: 100%;
    object-fit: contain;
    max-height: 300px;  
}

.modal{
    max-height: 500px;
    min-height:500px;
}