@font-face {
    font-family: "Helvetica Neue Cyr";
    src: url("../fonts/HelveticaNeueCyr-Medium.otf");
    font-weight: 400;
    font-style: "normal";
}

@font-face {
    font-family: "Helvetica Neue Cyr";
    src: url(../fonts/HelveticaNeueCyr-Bold.otf);
    font-weight: 700;
    font-style: "bold";
}

@font-face {
    font-family: "Helvetica Neue Cyr";
    src: url(../fonts/HelveticaNeueCyr-Black.otf);
    font-weight: 900;
    font-style: "black";
}

@font-face {
    font-family: "Helvetica Neue Cyr - Roman";
    src: url(../fonts/HelveticaNeueCyr-Roman.otf);
    font-weight: 400;
}

* {
    font-family: "Helvetica Neue Cyr - Roman";
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.32px;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a:visited {
    color: inherit;
}

a:active {
    color: inherit;
}

a:link {
    color: inherit;
    transition: .3s ease;
}

.nav {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    width: 90%;
    margin: 0 auto;
}

button {
    border: none;
    outline: none;
    display: block;
}

button:active,
button:focus,
input:focus,
input:active {
    outline: none;
}

button:hover,
label:hover,
a:hover {
    cursor: pointer;
}

.callback {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #4392e9;
    border-radius: 40px;
    height: 67px;
    font-size: 15px;
    width: 245px;
}

.callback-text {
    color: #fff;
    font-family: "Helvetica Neue Cyr";
}

.arrow::before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 21px;
    background-image: url(../images/arrow.png);
    margin-right: 10px;
}

.header__row {
    align-items: center;
    background-color: #fff;
}

.nav__list-item {
    color: #323232;
    font-family: "Helvetica Neue Cyr - Roman";
}

a:hover {
    color: #4599f5;
    text-decoration: none;
}

.logo {
    max-width: 22%;
}

/* Header styles */

section:not(.header) {
    padding-top: 70px;
    padding-bottom: 90px;
}

.header {
    margin: 0 auto 20px;
    padding: 20px 0;
}

.top__head,
.top__head-big,
.top__head-subhead {
    margin-bottom: 10px;
    font-family: "Helvetica Neue Cyr";
    font-weight: 900;
    letter-spacing: -0.34px;
}

section.top__layer {
    background-image: url(../images/topbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
}

.top__head {
    color: #fff;
    font-size: 34px;
}

.top__head-big {
    color: #fff;
    font-size: 54px;
    background-color: #0053d3;
    line-height: 120%;
    width: 111%;
    padding: 5px 2%;
    position: relative;
    left: -2%;
    white-space: nowrap;
    letter-spacing: -0.54px;
}

.top__head-subhead {
    font-size: 22px;
    color: #fff;
    letter-spacing: 0.32px;
}

.top__bitcoin {
    width: 100%;
}

.top__paragraph {
    opacity: 0.71;
    color: #ffffff;
    font-size: 17px;
    margin-top: 40px;
    letter-spacing: 0.34px;
}

.yellow {
    background-color: #efe513;
    box-shadow: 0 12px 9px 1px rgba(0, 0, 0, 0.28), 0 5px 0 #e9a502, inset 0 30000px 7px rgba(0, 0, 0, 0.01);
    margin: 20px 0;
    width: 284px;
    height: 74px;
    font-size: 16px;
}

.yellow>.callback-text {
    color: #323232;
}

.lock {
    display: flex;
    font-size: 14px;
    margin-top: 0;
}

.lock::before {
    content: "";
    display: block;
    float: left;
    width: 13px;
    height: 16px;
    background-image: url(../images/lock.png);
    margin-right: 10px;
    margin-top: 8px;
}

/* Top item styles */

.heading {
    color: #323232;
    font-size: 40px;
    font-weight: 700;
    margin: 20px 0;
    font-weight: 900;
    font-family: "Helvetica Neue Cyr";
}

.paragraph {
    color: #323232;
    font-size: 17px;
    font-weight: 400;
    font-family: "Helvetica Neue Cyr - Roman";
    margin-top: 40px;
}

.buttons {
    width: 85%;
    margin: 40px 0 20px 0;
    display: flex;
    justify-content: space-between;
}

.bignum {
    font-size: 30px;
}

.blue {
    width: 172px;
    height: 63px;
    border-radius: 31px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: 1px solid #4599f5;
    transition: background-color .3s ease-in-out;
}

.form-text {
    margin-top: 0;
}

.blue::first-letter {
    font-size: 30px;
}

.blue.activet {
    background-color: #4599f5;
    color: #fff;
}

.blue.non-activet {
    background-color: #fff;
    color: #4599f5;
}

form input {
    margin-bottom: 21px;
    width: 284px;
    height: 62px;
    border-radius: 30px;
    border: 1px solid #323232;
    opacity: 0.5;
    padding-left: 40px;
}

.yellow[type=submited] {
    width: 282px;
}

.second {
    display: none;
}

.second.paragraph {
    width: 104%;
    line-height: 25px;
    letter-spacing: 0.15px;
}

.accept {
    color: #323232;
    font-family: "Helvetica Neue Cyr - Roman";
    font-size: 14px;
    margin-top: 0px;
}

.check {
    width: 11px;
    height: 11px;
    background-color: #4599f5;
    box-shadow: inset #fff 0 0 0 6px;
    border-radius: 100%;
    transition: box-shadow .3s ease-in-out;
    margin-top: 6px;
    margin-right: 8px;
    border: 1px #4599f5 solid;
}

#check:checked+label .check {
    box-shadow: inset #fff 0 0 0 2px;
}

#check1:checked+label .check {
    box-shadow: inset #fff 0 0 0 2px;
}

label {
    display: flex;
    align-items: start;
}

.accept a,
.paragraph a {
    color: #4599f5;
    text-decoration: underline #4599f5 solid;
}

input::-webkit-input-placeholder {
    opacity: 0.5;
    color: #323232;
    font-family: "Helvetica Neue Cyr";
    font-size: 14px;
    font-weight: 400;
}

input:-moz-placeholder {
    opacity: 0.5;
    color: #323232;
    font-family: "Helvetica Neue Cyr";
    font-size: 14px;
    font-weight: 400;
}

/* Form styles */

.tutorials {
    background-color: #ecf3fd;
}

.round {
    margin: 0 auto;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    border: 1px solid #c2c8d0;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buzz {
    -webkit-animation: buzz-out 1 linear 1.3s;
    -moz-animation: buzz-out 1 linear 1.3s;
    -o-animation: buzz-out 1 linear 1.3s;
    animation: buzz-out 1 linear 1.3s;
}

@-webkit-keyframes buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0)
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0)
    }
}

@-moz-keyframes buzz-out {
    10% {
        -moz-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    20% {
        -moz-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
    30% {
        -moz-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    40% {
        -moz-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
    50% {
        -moz-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    60% {
        -moz-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    70% {
        -moz-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    80% {
        -moz-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    90% {
        -moz-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0)
    }
    100% {
        -moz-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0)
    }
}

@-o-keyframes buzz-out {
    10% {
        -o-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    20% {
        -o-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
    30% {
        -o-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    40% {
        -o-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
    50% {
        -o-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    60% {
        -o-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    70% {
        -o-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    80% {
        -o-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    90% {
        -o-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0)
    }
    100% {
        -o-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0)
    }
}

@keyframes buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0)
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0)
    }
}

.tutorials .paragraph {
    color: #353535;
    font-family: "Helvetica Neue Cyr - Roman";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

section.signals {
    padding-top: 90px;
}

.signals__img {
    position: absolute;
    top: -7%;
    left: -64%;
}

.signals .paragraph {
    margin-top: 20px;
    width: 101%;
}

.figure {
    position: relative;
    top: 400px;
    left: -60px;
    font-size: 12px;
    color: #6f6f6f;
}

.get_access {
    opacity: 0.8;
    color: #323232;
    font-size: 14px;
    text-decoration: rgba(2, 2, 2, 0.4) underline solid;
}

/* Tutorial styles */

.blog__row {
    justify-content: space-between;
}

.post {
    margin-top: 36px;
    position: relative;
    left: -40px;
}

.post button {
    height: 74px;
    margin-top: 0;
}

.blog-post button {
    margin: 20px auto;
    display: flex;
    width: 200px;
    height: 53px;
}

.blog {
    background-color: #ecf3fd;
}

.blog .heading {
    margin-bottom: 40px;
}

.blog .wrapper {
    width: 50%;
    margin: 20px auto 10px auto;
}

.blog span {
    color: #6f6f6f;
    font-size: 12px;
}

.blog-img {
    width: 100%;
    object-fit: cover;
}

.blog-post {
    background-origin: padding-box;
    background-color: #fff;
    max-width: 31%;
    padding: 0 0 20px 0;
    margin-top: 40px;
    box-shadow: 0 0 44px 2px rgba(0, 0, 0, 0.13);
    transition: .3s ease transform, .3s ease box-shadow;
}

.blog-post:hover {
    transform: scale(1.1);
    z-index: 2;
}

.blog-heading {
    color: #323232;
    font-size: 19px;
    font-weight: 700;
    width: 90%;
    margin: 0 auto;
}

.date:before {
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url(../images/clock.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 10px;
    position: relative;
    float: left;
}

.views::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 13px;
    background-image: url(../images/eye.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 10px;
    position: relative;
    top: 2px;
    float: left;
}

/* Blog styles */

.screen {
    position: relative;
    left: -15%;
    margin-top: 40px;
}

.active {
    display: block;
}

.description-subhead {
    color: #323232;
    font-family: "Helvetica Neue Cyr - Roman";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.descriptions__container {
    position: relative;
    right: -60px;
}

.disactiv {
    display: none;
}

.description {
    padding: 50px 50px 50px 70px;
    background-image: url(../images/description.png);
    background-size: contain;
    width: 94%;
}

.description .paragraph {
    margin-top: 10px;
    color: #323232;
    font-family: "Helvetica Neue Cyr - Roman";
    font-size: 15px;
    font-weight: 400;
}

.descs {
    position: relative;
    right: -36px;
}

.platform-round {
    width: 30px;
    height: 30px;
    background-color: #00e2a2;
    border-radius: 100%;
    position: absolute;
    color: #fff;
    transition: .5s ease;
    animation: pulse infinite 2s;
}

#express {
    top: 90px;
    left: 300px;
    animation-delay: .3s
}

#programm {
    top: 130px;
    left: 500px;
    animation-delay: .5s
}

#homework {
    left: 280px;
    top: 325px;
    animation-delay: .3s
}

#chat {
    left: 220px;
    top: 405px;
    animation-delay: .6s
}

#sertificate {
    top: 400px;
    left: 570px;
    animation-delay: .9s
}

.wave {
    -webkit-animation: pulseBig 1 linear .7s;
    -moz-animation: pulseBig 1 linear .7s;
    -o-animation: pulseBig 1 linear .7s;
    animation: pulseBig 1 linear .7s;
}

.wave-yellow {
    -webkit-animation: pulseYellow 1 linear .7s;
    -moz-animation: pulseYellow 1 linear .7s;
    -o-animation: pulseYellow 1 linear .7s;
    animation: pulseYellow 1 linear .7s;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(11, 255, 182, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(11, 255, 182, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(11, 255, 182, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(11, 255, 182, 0.4);
        box-shadow: 0 0 0 0 rgba(11, 255, 182, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 20px rgba(11, 255, 182, 0);
        box-shadow: 0 0 0 20px rgba(11, 255, 182, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(11, 255, 182, 0);
        box-shadow: 0 0 0 0 rgba(11, 255, 182, 0);
    }
}

@-webkit-keyframes pulseBig {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(11, 255, 182, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 60px rgba(11, 255, 182, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(11, 255, 182, 0);
    }
}

@keyframes pulseBig {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(11, 255, 182, 0.4);
        box-shadow: 0 0 0 0 rgba(11, 255, 182, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 60px rgba(11, 255, 182, 0);
        box-shadow: 0 0 0 60px rgba(11, 255, 182, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(11, 255, 182, 0);
        box-shadow: 0 0 0 0 rgba(11, 255, 182, 0);
    }
}

@-webkit-keyframes pulseYellow {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(208, 255, 0, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 60px rgba(208, 255, 0, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(208, 255, 0, 0);
    }
}

@keyframes pulseYellow {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(208, 255, 0, 0.4);
        box-shadow: 0 0 0 0 rgba(208, 255, 0, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 60px rgba(208, 255, 0, 0);
        box-shadow: 0 0 0 60px rgba(208, 255, 0, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(208, 255, 0, 0);
        box-shadow: 0 0 0 0 rgba(208, 255, 0, 0);
    }
}

/* Platform styles */

section.crypto {
    background-image: url(../images/topbg.png);
    position: relative;
    padding-bottom: 20px;
}

.crypto .heading {
    color: #fff;
    margin: 5px 0;
}

.graphic {
    position: relative;
    left: -40%;
    top: -33px;
    z-index: 3;
}

.crypto .blued {
    background-color: #0053d3;
    display: inline;
    padding: 0 10px;
}

.crypto .top__paragraph {
    margin-top: 20px;
}

.h40 {
    height: 40px;
}

.enter {
    position: relative;
    top: 20px;
    left: 20px;
}

a.white {
    color: #fff;
    text-decoration: rgba(255, 255, 255, .4) underline solid;
    margin-right: 30px;
}

.bitcoin {
    position: absolute;
    transform-origin: center;
}

.blured {
    -webkit-filter: url(#blur);
    filter: url(#blur);
    -webkit-filter: blur(3px);
    filter: blur(3px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}

#b1 {
    top: 73%;
    z-index: 3;
    width: 150px
}

#b2 {
    left: 20%;
    top: -12%;
    z-index: 1;
}

#b3 {
    top: 67%;
    z-index: 3;
    right: -3%;
    width: 400px;
}

/* Crypto styles */

.bonus .paragraph {
    width: 80%;
}

.present {
    position: relative;
    right: 120px;
    top: 50px;
}

.feedbacks {
    background-color: #ecf3fd;
}

.slider__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 40px;
}

.slider__container .col-6 {
    max-width: 40%;
}

.feedbacks .col-2 {
    max-width: 16%;
}

.feedback {
    flex-shrink: 0;
    padding: 0;
    position: relative;
    left: 0;
    transition: .3s ease;
    background-color: #fff;
    width: 100%;
    opacity: 0.3;
    transition: .5s ease;
}

.active-feedback {
    opacity: 1;
}

.feedback .paragraph {
    opacity: 0.8;
    color: #000000;
    font-family: "Helvetica Neue Cyr - Roman";
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.16px;
}

.avatar {
    padding: 0;
    object-fit: cover;
    width: 100%;
}

.info {
    margin-top: 20px;
    padding-bottom: 40px;
}

.text {
    padding: 0 40px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

span.name {
    color: #6799f4
}

span.age {
    font-size: 15px;
    font-weight: 400;
}

.soc {
    opacity: .5;
    transition: .3s ease opacity;
}

.soc:hover {
    opacity: 1;
}

.controll {
    width: 18px;
    height: 18px;
    background-color: #c7ccd4;
    border-radius: 100%;
    margin-top: 40px;
    transition: .3s ease;
}

.controll:nth-child(2),
.controll:nth-child(6) {
    width: 14px;
    height: 14px;
}

#next,
#prev {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 24px;
}

#prev {
    position: relative;
    right: 9px;
}

.next:first-child,
.prev:last-child {
    transform: rotate(45deg) translate(3px, -3px)
}

.next:last-child,
.prev:first-child {
    transform: rotate(-45deg) translate(3px, 3px)
}

.next,
.prev {
    display: block;
    width: 15px;
    height: 2px;
    border-radius: 30px;
    background-color: #c7ccd4;
    margin-bottom: 8px;
}

.current {
    background-color: #6799f3;
}

/* Feedbacks */

footer {
    background-image: url(../images/bgfooter.png);
    padding: 40px 0;
}

footer .nav__list-item {
    color: #fff;
}

.copyright {
    opacity: 0.6;
    color: #ffffff;
    font-family: "Helvetica Neue Cyr - Roman";
    font-size: 16px;
    font-weight: 400;
    line-height: 29.26px;
    letter-spacing: 0.16px;
    margin: 0;
    text-align: end;
}

.copyright a {
    opacity: 0.6;
    color: #ffffff;
    font-family: "Helvetica Neue Cyr - Roman";
    font-size: 14px;
    font-weight: 400;
    line-height: 29.26px;
    text-decoration: underline;
    letter-spacing: 0.14px;
}

.footerlogo {
    color: #ffffff;
    font-family: "Helvetica Neue Cyr";
    font-size: 16px;
    font-weight: 400;
    line-height: 29.26px;
    text-transform: uppercase;
    letter-spacing: 0.16px;
}

.footerlogo span {
    white-space: nowrap;
    color: #ffffff;
    font-family: "Helvetica Neue Cyr";
    font-size: 15px;
    font-weight: 500;
    line-height: 29.26px;
    letter-spacing: 0.15px;
    text-transform: none;
}

footer img {
    width: 100%;
}
.shadowed{
    box-shadow: 0 0 39px 4px rgba(0, 0, 0, 0.1);
}
/* Footer styles */

